.latest-notification .card {
  border: 2px solid #e1e1e1;
  width: 20rem;
  border-radius: 5px;
  margin: 0px 6px;
  padding: 17px 19px;
}

.latest-notification .card .col1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 19rem;
  margin-bottom: 10px;
}

.latest-notification .card .col1 img {
  width: 3rem;
  margin-right: 10px;
}

.latest-notification .card:hover {
  transition: 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.latest-notification .card p {
  color: #747373;
  width: 18.5rem;
}

.latest-notification h3 {
  font-weight: 500;
}

.latest-notification .card a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-weight: 700;
}

.latest-notification .read {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.latest-notification hr {
  border: 0.2px solid #a3a1a1;
  width: 21.2rem;
  margin: 15px -20px;
}

/* crowsel */

.latest-notification .slick-slide {
  max-width: 18.8rem;
  margin: 0 31px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .latest-notification .slick-slide {
    max-width: 9.5%;
    margin: 0 1.37%;
  }

  .latest-notification .card {
    padding: 33px;
  }

  .latest-notification .card .col1 img {
    width: 5rem;
    margin-right: 19px;
  }

  .latest-notification .card .col1 {
    display: flex;
    flex-direction: row;
    width: 24rem;
  }

  .latest-notification h3 {
    font-size: 21px;
  }

  .latest-notification .card p {
    font-size: 20px;
    width: 23.5rem;
  }

  .latest-notification .card a {
    text-decoration: none;
    font-size: 21px;
    margin-bottom: -12px;
  }

  .latest-notification hr {
    width: 116%;
    margin: 15px -8%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .latest-notification .card p {
    color: #747373;
    height: 6rem;
    width: 17.5rem;
  }

  .latest-notification .slick-slide {
    max-width: 10.3%;
    margin: 0px 1%;
  }
  .latest-notification hr {
    border: 0.2px solid #a3a1a1;
    width: 109%;
  }
}

@media (min-width: 1024px) and (max-width: 1266px) {
  .latest-notification .card p {
    color: #747373;
    width: 21.5rem;
    margin: 20px 0;
    height: 5rem;
  }
}
