.faculty {
  background-color: #FEF2EA;
  padding: 11px 24px;
  margin: 2rem 0;
  border-radius: 5px;
  width: 46rem;
}

.faculty h3 {
  font-weight: 400;
}

.faculty p {
    margin: 3px 0;
  font-size: 11px;
  color: #9f8d8d;
}
