.similar-clg {
  width: 97%;
  background-color: #fff;
  padding: 20px;
}

.similar-clg hr {
  margin-top: 20px;
  border: 1.5px solid rgb(225, 223, 223);
}

.similar-clg h3 {
  font-weight: 400;
}

.similar-clg .card {
  width: 16rem;
  background-color: #fff;
  height: 17rem;
  margin: 20px 0;
  margin-right: 10px;
  border-radius: 10px;
}

.similar-clg .card .col1 {
  background: url("/images/nearbyUniversity.png");
  padding: 10px;
  height: 7rem;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.similar-clg .card .col1 img {
  width: 2.5rem;
  /* margin-top: 2.5rem; */
}

.similar-clg .card .col1 .row1 p {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  width: 62px;
  font-weight: 500;
  padding: 1px 9px;
  font-size: 9px;
}

.similar-clg .card .cardData {
  padding: 10px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgb(240, 236, 236);
}

.similar-clg .card img {
  width: 100%;
}

.similar-clg .card p {
  margin: 4px 0;
  font-weight: 500;
  font-size: 12px;
  width: 11rem;
}

.similar-clg .card p:nth-child(3) {
  font-size: 11px;
  font-weight: 400;
  color: #959595;
}

.similar-clg .card .col1 button {
  background: none;
  border: 1px solid #fff;
  padding: 2px 10px;
  font-size: 11px;
  border-radius: 29px;
  color: #fff;
}

.similar-clg .card .col1 .row1 {
  display: flex;
  justify-content: space-between;
}

.similar-clg .card .col1 .row2 {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.similar-clg .card .col1 .row2 h6 {
  color: #fff;
}

.similar-clg .card .col1 .row2 p {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}

.similar-clg .card .col1 .row2 .line {
  margin: 0 10px;
}

.similar-clg .card .cardData h4 {
  font-weight: 500;
}
.similar-clg .card .cardData .rate p {
  border-radius: 6px;
  background-color: #ff5c00;
  width: 30px;
  padding: 1px;
  text-align: center;
  color: #fff;
}

.similar-clg .card .cardData button {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: #ff5c00;
  color: #fff;
  border: none;
}

@media (min-width: 300px) and (max-width: 767px) {
  .similar-clg .card {
    margin: 20px 34px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .similar-clg .card {
    width: 13.3rem;
  }

  .similar-clg {
    width: 94%;
  }

  .similar-clg .card .col1 img {
    width: 2rem;
  }
}
