.photos {
  margin: 30px 0;
  width: 18rem;
  background-color: #fff;
  border-radius: 5px;
}

.photos h4 {
  font-weight: 500;
  margin: 11px;
  padding-top: 11px;
}

.photos .card {
  padding: 5px 10px 10px 5px;
}

.photos .card img {
  width: 50%;
}

.photos hr {
  border: 1.2px solid rgb(225, 223, 223);
}

.photos button {
    padding: 9px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background: none;
    border: 1.4px solid #ff5c00;
    color: #ff5c00;
  }