/* .top-exam{
    display: flex;
    margin: 40px 0;
} */

.top-exam .card {
  border: 2px solid #e1e1e1;
  width: 14rem;
  border-radius: 5px;
  margin: 0px 6px;
  padding: 17px 19px 8px 17px;
}

.top-exam .card a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.top-exam .read {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.top-exam .col1 {
  margin-bottom: 20px;
}

.top-exam .col1 p {
  margin: 5px 0;
  color: #707070;
  font-size: 13px;
  font-weight: 500;
}

.top-exam .card span {
  background-color: #959595;
  color: #fff;
  padding: 4px 12px;
  border-radius: 22px;
  font-size: 11px;
}

.top-exam .col1 h3 {
  margin: 5px 0;
  font-weight: 500;
  margin-top: 10px;
}

.top-exam hr {
  border: 0.2px solid #e3e0e0;
  width: 15.3rem;
  margin: 7px -18px;
}

.top-exam .col1 .row1 {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.top-exam .col1 .row1 img {
  width: 3.5rem;
  margin-right: 10px;
}

/* crowsel */
.top-exam .slick-slide {
  max-width: 13rem;
  margin: 0px 32.3px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .top-exam .slick-slide {
    max-width: 8.3%;
    margin: 0px 0.78%;
  }

  .top-exam .col1 p {
    margin: 5px 0;
    color: #707070;
    font-size: 17px;
  }

  .top-exam .card span {
    font-size: 15px;
    padding: 8px 24px;
  }

  .top-exam .col1 .row1 img {
    width: 5.5rem;
  }

  .top-exam .col1 h3 {
    font-size: 24px;
    margin: 5px 0;
    font-weight: 500;
    margin-top: 16px;
  }

  .top-exam .card a {
    text-decoration: none;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top-exam .slick-slide {
    max-width: 17rem;
    margin: 0px 38px;
  }

  .top-exam hr {
    border: 0.2px solid #e3e0e0;
    width: 19.3rem;
    margin: 7px -17px;
  }

  .top-exam .card span {
    background-color: #959595;
    color: #fff;
    padding: 5px 6px;
  }

  .top-exam .col1 .row1 img {
    width: 3rem;
    margin-right: 4px;
  }

  .top-exam .col1 p {
    font-size: 12px;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .top-exam .slick-slide {
    max-width: 17.9rem;
    margin: 0px 40px;
  }

  .top-exam hr {
    border: 0.2px solid #e3e0e0;
    width: 19rem;
  }
}

@media (min-width: 1024px) and (max-width: 1266px) {
  .top-exam .slick-slide {
    max-width: 19.9rem;
    margin: 0px 67px;
  }

  .top-exam hr {
    border: 0.2px solid #e3e0e0;
    width: 22.3rem;
    margin: 7px -19px;
  }
}
