/* .study-abroad {
  display: flex;
} */

.study-abroad .card {
  padding: 15px;
  width: 20rem;
  margin: 10px;
  border: 2px solid rgb(215, 212, 212);
}

.study-abroad .card img {
  width: 2.5rem;
  margin-right: 6px;
}

.study-abroad .card .col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.study-abroad .card .col1 .div1 {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  width: 19rem;
  height: 5rem;
}

.study-abroad .card .col1 .div1 img {
  width: 4.5rem;
  margin-right: 10px;
}

.study-abroad .card .col1 .div1 h5 {
  font-size: 18px;
  font-weight: 500;
}

.study-abroad .card .col1 .div1 p {
  font-size: 13px;
  margin: 5px 0;
}

.study-abroad .card .col2 img {
  width: 2.5rem;
  margin-right: 6px;
}

.study-abroad .card .col2 .row1 {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 8px;
}

.study-abroad .card .col2 .row1 p {
  font-size: 13px;
  font-weight: 600;
  color: rgb(115, 114, 114);
}

.study-abroad .card .col2 .row2 {
  margin-top: 15px;
}

.study-abroad .card .col2 hr {
  margin: 10px -16px;
  border: 1px solid rgb(215, 212, 212);
  width: 20.5rem;
}

.study-abroad .card .col2 .row2 p {
  font-size: 13px;
  font-weight: 500;
  color: rgb(114, 114, 114);
}

.study-abroad .card .col2 .row2 a {
  text-decoration: none;
  color: #000;
}

/* crowsel */
.study-abroad .slick-slide {
  max-width: 18.6rem;
  margin: 0px 33px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .study-abroad .slick-slide {
    max-width: 9.8%;
    margin: 0px 1.3%;
  }

  .study-abroad .card .col1 .div1 h5 {
    font-size: 24px;
  }

  .study-abroad .card .col1 .div1 img {
    width: 5.5rem;
    margin: 17px;
  }

  .study-abroad .card .col1 .div1 p {
    font-size: 15px;
    margin: 8px 0;
  }

  .study-abroad .card .col2 .row1 p {
    font-size: 14px;
  }

  .study-abroad .card .col2 img {
    width: 3.5rem;
    margin: 8px;
  }

  .study-abroad .card .col2 .row2 p {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .study-abroad .slick-slide {
    max-width: 18rem;
    margin: 0px 29px;
  }

  .study-abroad .card .col2 hr {
    margin: 10px -16px;
    border: 1px solid rgb(215, 212, 212);
    width: 20rem;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .study-abroad .slick-slide {
    max-width: 18.8rem;
    margin: 0px 32px;
  }

  .study-abroad .card .col1 .div1 {
    width: 19rem;
    height: 4rem;
  }

  .study-abroad .card .col2 hr {
    width: 19.7rem;
  }
}

@media (min-width: 1024px) and (max-width: 1266px) {
  .study-abroad .slick-slide {
    max-width: 24rem;
    margin: 0px 33px;
  }

  .study-abroad .card .col2 hr {
    margin: 10px -16px;
    border: 1px solid rgb(215, 212, 212);
    width: 25.9rem;
  }
}
