/* .explore-courses {
  display: flex;
  margin: 40px 0;
} */

.explore-courses .card {
  border: 2px solid #e1e1e1;
  width: 14rem;
  border-radius: 5px;
  margin: 0px 6px;
  padding: 17px 19px 8px 17px;
}

.explore-courses .card a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-weight: 500;
}

.explore-courses .read {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.explore-courses .col1 {
  margin-bottom: 20px;
}

.explore-courses .col1 p {
  margin: 5px 0;
  color: #707070;
}

.explore-courses .card span {
  background-color: #959595;
  color: #fff;
  padding: 5px 24px;
  border-radius: 22px;
  font-size: 13px;
  /* margin: 10px; */
}

.explore-courses .col1 h3 {
  margin: 5px 0;
  font-weight: 500;
  margin-top: 17px;
}

.explore-courses hr {
  border: 0.2px solid #e3e0e0;
  width: 15.3rem;
  margin: 15px -18px;
}

/* crowsel */
.explore-courses .slick-slide {
  max-width: 13rem;
  margin: 0px 32.4px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .explore-courses .slick-slide {
    max-width: 8%;
    margin: 0px 0.9%;
  }

  .explore-courses .col1 h3 {
    margin: 15px 0;
    font-size: 27px;
  }

  .explore-courses .card span {
    font-size: 18px;
    padding: 8px 28px;
  }

  .explore-courses .card {
    padding: 30px;
  }

  .explore-courses .col1 p {
    font-size: 20px;
  }

  .explore-courses .card a {
    font-size: 18px;
  }

  .explore-courses hr {
    border: 0.2px solid #e3e0e0;
    width: 29.7rem;
    margin: 15px -30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .explore-courses .slick-slide {
    max-width: 17rem;
    margin: 0px 37.4px;
  }

  .explore-courses hr {
    border: 0.2px solid #e3e0e0;
    width: 19.3rem;
    margin: 15px -18px;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .explore-courses .slick-slide {
    max-width: 18rem;
    margin: 0px 38px;
  }

  .explore-courses hr {
    border: 0.2px solid #e3e0e0;
    width: 19.3rem;
  }
}

@media (min-width: 1024px) and (max-width: 1266px) {
  .explore-courses .slick-slide {
    max-width: 22rem;
    margin: 0px 50px;
  }

  .explore-courses hr {
    border: 0.2px solid #e3e0e0;
    width: 24.3rem;
    margin: 15px -18px;
  }
}
